.container {
  width: 1800px;
  margin: 0 auto;
  max-width: 96%;
  /* background-color: #ddd; */
}

#filters a {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

#filters a:hover {
  text-decoration: underline;
}

/* GRID */
.grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
  margin: 5px 0 40px 0;
}

/* CARD */
.card {
  background: rgb(78, 78, 78);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

@media (max-width: 768px) {

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

}

.card .more {
  width: 100%;
  background-color: #646464;
  text-align: center;
  color: #c5c5c5;
  padding: 10px;
  border-radius: 4px;
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card .section {
  padding: 12px;
}

/* Part 1: Title + Description */
.info {
  flex-grow: 1;
}

.info .title {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 6px;
  font-size: 22px;
}

.info .desc {
  font-size: 14px;
  color: #d3d3d3;
  line-height: 1.5;
}

/* Part 2: Tags */
.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  color: #ddd;
  background: #3a4757;
  border-radius: 4px;
  margin-right: 6px;
  font-size: 12px;
}

/* Part 3: Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.footer a {
  color: #0077ff;
  cursor: pointer;
  font-size: 14px;
}

/* OVERLAY */
#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

/* DETAILS PANEL */

#detailsContent {
  display: flex;
  width: 100%;
  height: 100vh;
}

.cardCarousel {
  width: 1600px;
}

#detailsPanel {
  position: fixed;
  top: 0;
  right: -1900px;
  width: 1900px;
  max-width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
  /* box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1); */
  /* padding: 20px; */
  transition: 0.5s ease;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 20;
}

.imageContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #ddd;
  position: relative;
}

.panel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 8px;
  background: #eee;
}


.detailsH2 {
  font-size: 30px;
  font-weight: 300;
  color: #8d8d8d;
  padding: 20px 0 10px 0;
  width: 100%;
  background-color: transparent;
}

#detailsPanel.open {
  right: 0;
}

#overlay.show {
  opacity: 1;
  visibility: visible;
}

#detailsPanel .ingredients-list {
  padding-left: 20px;
  margin-top: 8px;
}

#detailsPanel .ingredients-list li {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #bbbbbb;
}

.panelTxt {
  padding: 0 20px 20px 20px;
  width: 400px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  overflow-y: auto;

  position: relative;
}



.description {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.6;
  color: #8d8d8d;
}

.details-table {
  display: grid;
  grid-template-columns: 100px 1fr;
  row-gap: 6px;
  column-gap: 10px;
  margin: 32px 0px;
  font-size: 14px;
}

.details-table .label {
  font-weight: 500;
  color: #c0c0c0;
  font-size: 13px;
}

.details-table .value {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 400;
}

.price {
  font-size: 15px;
  font-weight: 600;
  color: #dfdfdf;
}

.ingredientsTitle {
  font-size: 24px;
  font-weight: 300;
  color: #bbbbbb;
  border-bottom: 1px solid #555555;
  padding: 0 0 4px 0;
}

.back2List.hidden {
  display: none !important;
  pointer-events: none;
}


.back2List {
  opacity: 1;
  transition: opacity .3s;

  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #646464;
  text-align: center;
  color: #c5c5c5;
  padding: 12px;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 0;
  z-index: 5;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.navBtn {
  flex: 1;
  padding: 12px;
  background: #646464;
  color: #c5c5c5;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.navBtn:hover {
  background: #7a7a7a;
}

/* Container that floats inside the image */
.thumbOverlay {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  /* Perfect centering */
  width: 100%;

  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 0 0 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
  z-index: 10;
}

/* Horizontal row of thumbnails */
.thumbTrack {
  display: flex;
  gap: 8px;
  padding: 0 10px;
  overflow-x: auto;
  scrollbar-width: none;
}

.thumbTrack::-webkit-scrollbar {
  display: none;
}

/* Thumbnail images */
.thumbImg {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  object-fit: cover;
  opacity: 0.6;
  cursor: pointer;
  border: 2px solid transparent;
}

.thumbImg.activeThumb {
  opacity: 1;
  border-color: white;
}


@media (max-width: 768px) {

  #detailsPanel {
    max-width: 100%;
  }

  #detailsContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .panelTxt {
    width: 100%;
    padding: 10px;
  }

  .cardCarousel {
    width: 100%;
    height: 400px;
  }

  .back2List {
    width: calc(100% - 32px);
    /* full width with side padding */
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
    max-width: none;
    position: fixed;
    bottom: 20px;
    width: min(80%, 350px)
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
  }
}