.hero {
  width: 100%;
  height: 100vh;
  background: url("public/contact.jpg") center center / cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}