@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* ------------------------------
    TYPOGRAPHY
--------------------------------*/
h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -0.1rem;
  line-height: 1.1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 4px;
  width: 600px;
  max-width: 80vw;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  width: 600px;
  max-width: 80vw;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  padding: 10px;
  border-radius: 4px;
}

p {
  font-family: "Geist Mono";
  font-weight: 400;
  font-size: 0.85rem;
}

/* ------------------------------
    IMAGES
--------------------------------*/

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Blur-up preview image */
.blur-preview {
  filter: blur(12px);
  transform: scale(1.05);
  opacity: 1;
  transition: opacity 0.8s ease;
}

/* High-quality image fade-in */
.full-image {
  opacity: 0;
  transition: opacity 0.8s ease;
}

/* ------------------------------
    NAVIGATION
--------------------------------*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 10;
}

nav p {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #fff;
}

nav .logo {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  padding: 0.5rem 1rem;
}

/* ------------------------------
    SECTIONS
--------------------------------*/
section {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.intro,
.outro {
  padding: 2rem;
  align-content: center;
  background-color: #0f0f0f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 100dvh;
  position: relative;
  padding-top: 0;
  color: #fff;
}

.intro {
  background-image: url(public/hero.jpg);
}

.outro {
  background-image: url(public/outro.jpg);
}

/* Titles over hero */
.intro h1,
.outro h1 {
  position: absolute;
  top: 76%;
  left: 150px;
  width: 50%;
  font-size: 30px;
  max-width: 650px;
}

.intro h2,
.outro h2 {
  position: absolute;
  top: 86%;
  left: 150px;
  width: 50%;
  font-size: 20px;
  max-width: 650px;
}

/* ------------------------------
    SLIDER
--------------------------------*/
.slider-images {
  position: absolute;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.slider-images img,
.slider-images video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

/* Title inside slider */
.slider-title {
  position: absolute;
  top: 80%;
  left: 2rem;
  transform: translateY(-50%);
  width: 50%;
  color: #fff;
}

/* Indicator right side */
.slider-indicator {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.slider-indices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.25rem;
}

.slider-indices p {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  overflow: hidden;
}

.index {
  position: relative;
  width: 1.25rem;
  display: flex;
  justify-content: flex-end;
}

.marker {
  width: 0.75rem;
  height: 1px;
  background-color: #fff;
  transform-origin: left;
  /* change from right → left */
  transform: scaleX(0);
}


.slider-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.35);
  overflow: hidden;
}

.slider-progress {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 3px;
  height: 100%;
  background-color: #fff;
  transform-origin: top;
}

.line {
  display: block;
}

/* ------------------------------
    RESPONSIVE
--------------------------------*/
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    letter-spacing: 0;
  }

  h2 {
    font-size: 16px;
  }

  nav {
    display: none;
  }

  .intro h1,
  .outro h1 {
    width: 90%;
    top: 76%;
    left: unset;
    font-size: 24px;
  }

  .intro h2,
  .outro h2 {
    width: 90%;
    left: unset;
    font-size: 16px;
    top: 86%;
  }

  .slider-title {
    top: 76%;
    left: 0;
    width: 100%;
    padding: 12px;
    transform: none;
  }

  .slider-indicator {
    top: unset;
    bottom: 2rem;
    transform: none;
  }
}